PORT="8787"
HOST="127.0.0.1"
ALLOWED_ORIGIN="http://localhost:5173"
FEDEX_ENABLE_MOCK="true"
FEDEX_API_BASE_URL="https://apis-sandbox.fedex.com"
FEDEX_CLIENT_ID="<your_API_key_here>"
FEDEX_CLIENT_SECRET="<your_API_secret_here>"
FEDEX_CHILD_KEY="<your_child_key_here>"
FEDEX_CHILD_SECRET="<your_child_secret_here>"
FEDEX_ACCOUNT_NUMBER="<your_account_number_here>"
FEDEX_SHIPPER_NAME="True Robotics"
FEDEX_SHIPPER_EMAIL="shipping@example.com"
FEDEX_SHIPPER_PHONE="9015550100"
FEDEX_SHIPPER_ADDRESS_1="123 Robotics Way"
FEDEX_SHIPPER_ADDRESS_2=""
FEDEX_SHIPPER_CITY="Memphis"
FEDEX_SHIPPER_STATE="TN"
FEDEX_SHIPPER_POSTAL_CODE="38116"
FEDEX_SHIPPER_COUNTRY_CODE="US"
FEDEX_SERVICE_TYPE="FEDEX_GROUND"
FEDEX_PICKUP_TYPE="USE_SCHEDULED_PICKUP"
FEDEX_WEIGHT_UNITS="LB"
FEDEX_PACKAGE_WEIGHT_VALUE="1"
FEDEX_LABEL_IMAGE_TYPE="PNG"
FEDEX_LABEL_STOCK_TYPE="PAPER_4X6"
FEDEX_LABEL_FORMAT_TYPE="COMMON2D"
FEDEX_LABEL_PRINTING_ORIENTATION="TOP_EDGE_OF_TEXT_FIRST"
