# Copy this file to .env.development for sandbox credentials.
# Copy this file to .env.production for production credentials.
FEDEX_CLIENT_ID="<your_API_key_here>"
FEDEX_CLIENT_SECRET="<your_API_secret_here>"
FEDEX_CHILD_KEY=""
FEDEX_CHILD_SECRET=""
FEDEX_ACCOUNT_NUMBER="<your_account_number_here>"
