VITE_APP_TITLE="True Robotics FedEx Shipping"
VITE_GITHUB_PAGES_BASE="/TrueRoboticsFedexShippingApp/"
VITE_API_BASE_URL="http://localhost:8787"
VITE_ADDRESS_AUTOCOMPLETE_URL="https://nominatim.openstreetmap.org/search"
VITE_ENABLE_MOCK_SUBMISSION="true"
VITE_LOGO_URL="logo.png"
