PORT="8787"
HOST="127.0.0.1"
ALLOWED_ORIGIN="http://localhost:5173"
FEDEX_ENABLE_MOCK="true"
FEDEX_API_BASE_URL="https://apis-sandbox.fedex.com"
FEDEX_CLIENT_ID=""
FEDEX_CLIENT_SECRET=""
FEDEX_CHILD_KEY=""
FEDEX_CHILD_SECRET=""
FEDEX_ACCOUNT_NUMBER=""
FEDEX_SHIPPER_NAME="True Robotics"
FEDEX_SHIPPER_PHONE="9015550100"
FEDEX_SHIPPER_COMPANY="True Robotics"
FEDEX_SHIPPER_ADDRESS_1="123 Robotics Way"
FEDEX_SHIPPER_ADDRESS_2=""
FEDEX_SHIPPER_CITY="Memphis"
FEDEX_SHIPPER_STATE="TN"
FEDEX_SHIPPER_POSTAL_CODE="38116"
FEDEX_SHIPPER_COUNTRY_CODE="US"
FEDEX_RECIPIENT_NAME="Shipping Recipient"
FEDEX_RECIPIENT_PHONE="9015550199"
FEDEX_SERVICE_TYPE="FEDEX_GROUND"
FEDEX_PICKUP_TYPE="USE_SCHEDULED_PICKUP"
FEDEX_WEIGHT_UNITS="LB"
FEDEX_PACKAGE_WEIGHT_VALUE="1"
FEDEX_LABEL_IMAGE_TYPE="PDF"
FEDEX_LABEL_STOCK_TYPE="PAPER_85X11_TOP_HALF_LABEL"
FEDEX_LABEL_FORMAT_TYPE="COMMON2D"
